@import '~antd/lib/style/themes/default.less';

.bgCard {
    color: @normal-color;
    height: 200px;
    background: url('~@/assets/bg1.jpg') repeat;
    // background: url('../../assets/bg1.jpg') repeat;
    background-size: cover;
    h2 {
        color: inherit;
    }
}

.center {
    height: 200px;
    background: url('~@/assets/bg2.jpg') repeat;
    background-size: cover;
    h2 {
        color: inherit;
    }
}
