.global-NotFound-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: left;

  code {
    background: #ebecef;
  }

  h1 {
    font-size: 40px;
    background: #c1f3a6;
    margin-bottom: 30px;
  }
}
