/**
 * @file
 * @description This is comment
 */

.topic-container {
    width: 500px;
    height: 300px;
    background: linear-gradient(to right, #7fffd4, #ece585);
}

.topicBody {
    color: brown;
    font-size: 36px;
    transform: rotateY(35deg);
}

/* testing for postcss-preset-env */
.topicBody a {
    color: rgb(0 0 100% / 90%);
}
.topicBody a:hover {
    color: rebeccapurple;
}
